
.E {
    height: 100px;
    width: 300px;
    background-color:#fef200 ;
}
.W {
    height: 50px;
    width: 300px;
    background-color:#0065b3
}
.Q {
    height: 50px;
    width: 300px;
    background-color:#ed1b24

}